<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/styles.css" />
    <title>Ball Bounce</title>
  </head>
  <body>
    <a href="../../index.html" class="button back">Home</a>
    
    <!-- CANVAS -->
    <div class="canvas-section">
      <canvas id="canvas">Not able to render canvas.</canvas>
    </div>

    <!-- SCRIPTS -->
    <script src="../../scripts/ball-bounce/ballAttributes.js"></script>
    <script src="../../scripts/ball-bounce/ball.js"></script>
    <script src="../../scripts/ball-bounce/sketch.js"></script>
  </body>
</html>
