<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/styles.css" />
    <title>3D Terrain</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"
      integrity="sha512-zhHQR0/H5SEBL3Wn6yYSaTTZej12z0hVZKOv3TwCUXT1z5qeqGcXJLLrbERYRScEDDpYIJhPC1fk31gqR783iQ=="
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    <a href="../../index.html" class="button">Home</a>
    <div class="canvas-section">
      <canvas id="canvas">Not able to render canvas.</canvas>
    </div>
    <script src="../../scripts/2d-ball-simulation/ball.js"></script>
    <script src="../../scripts/2d-ball-simulation/sketch.js"></script>
  </body>
</html>
