<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/styles.css" />
    <title>Ball Bounce</title>
  </head>
  <body>
    <div class="grid-container">
      <!-- GRID -->
      <div class="grav-grid">
        <!-- CANVAS -->
        <div class="canvas-section g-canvas-container">
          <canvas id="canvas" class="g-canvas"
            >Not able to render canvas.</canvas
          >
        </div>
        <!-- GRAVITY BUTTONS -->
        <div id="g-up" class="gravity g-up">↑</div>
        <div id="g-left" class="gravity g-left">←</div>
        <div id="g-right" class="gravity g-right">→</div>
        <div id="g-down" class="gravity g-down g-selected">↓</div>
      </div>
    </div>

    <div class="selector-section" style="margin-top: 5px">
      <div class="ray-selectors">
        <div class="ray-changer">
          <select name="balls" id="selected-ball">
            <option value="basket">Basketball</option>
            <option value="tennis">Tennis Ball</option>
            <option value="bowling">Bowling Ball</option>
          </select>
          <button id="add-ball-button">Add</button>
        </div>
        <div class="ray-changer">
          <label for="vel-x">Velocity X</label>
          <input id="vel-x" name="vel-x" type="number" />
        </div>
        <div class="ray-changer">
          <label for="vel-y" value="0">Velocity Y</label>
          <input id="vel-y" name="vel-y" type="number" value="0" />
        </div>
        <div class="ray-changer">
          <button id="launch-button">Launch</button>
        </div>
      </div>
    </div>
    <!-- SCRIPTS -->
    <script src="../scripts/ball-bounce/ballAttributes.js"></script>
    <script src="../scripts/ball-bounce/ball.js"></script>
    <script src="../scripts/ball-bounce/sketch.js"></script>
  </body>
</html>
