<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/styles.css" />
    <title>Flow Field 2</title>
  </head>
  <body>
    <div class="canvas-section">
      <canvas id="canvas">Not able to render canvas.</canvas>
    </div>
    <div class="selector-section">
      <div class="ray-selectors">
        <div class="ray-changer">
          <label for="color1">Color 1:</label>
          <input type="color" class="color" value="#588157" />
        </div>
        <div class="ray-changer">
          <label for="color1">Color 2:</label>
          <input type="color" class="color" value="#3a5a40" />
        </div>
        <div class="ray-changer">
          <label for="color1">Color 3:</label>
          <input type="color" class="color" value="#dad7cd" />
        </div>

        <div class="ray-changer">
          <label for="size">Size:</label>
          <input
            type="range"
            id="size"
            name="size"
            value="0.5"
            min="0.1"
            max="3"
            step="0.1"
          />
          <label for="size" id="size-num"></label>
        </div>
        <div class="ray-changer">
          <label for="num">Number: </label>
          <input
            type="range"
            id="num"
            name="num"
            value="500"
            min="50"
            max="2000"
            step="50"
          />
          <label for="num" id="num-num"></label>
        </div>

        <div class="ray-changer">
          <label for="scale">Scale:</label>
          <input
            type="range"
            id="scale"
            name="scale"
            value="250"
            min="50"
            max="500"
            step="2"
          />
          <label for="scale" id="scale-num"></label>
        </div>
        <div class="ray-changer">
          <label for="life">Particle Life:</label>
          <input
            type="range"
            id="life"
            name="life"
            value="500"
            min="10"
            max="1000"
            step="10"
          />
          <label for="life" id="life-num"></label>
        </div>
        <div class="ray-changer">
          <button id="new-seed-button">New Seed</button>
        </div>
        <div class="ray-changer">
          <button id="reset-button">Reset Sliders</button>
        </div>
      </div>
    </div>

    <script src="https://joeiddon.github.io/perlin/perlin.js"></script>
    <script src="../scripts/flow-field-2/particle.js"></script>
    <script src="../scripts/flow-field-2/sketch.js"></script>
  </body>
</html>
