<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/styles.css" />
    <title>Particle Gravity</title>
  </head>
  <body style="margin: 0">
    <p style="position: absolute; left: 50%; transform: translateX(-50%)">
      Click the screen!
    </p>
    <canvas id="canvas" style="margin: 0; border: none"
      >Not able to render canvas.</canvas
    >
    <script src="../scripts/particle-gravity/particle.js"></script>
    <script src="../scripts/particle-gravity/sketch.js"></script>
  </body>
</html>
