<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/styles.css" />
    <link
      rel="shortcut icon"
      href="../public/images/favicon.ico"
      type="image/x-icon"
    />

    <title>Perlin Texture</title>
  </head>
  <body>
    <a href="../index.html" class="button back">Home</a>
    <div class="canvas-section">
      <canvas id="canvas">Not able to render canvas.</canvas>
    </div>

    <div class="selector-section">
      <div class="ray-selectors">
        <div class="ray-changer">
          <label for="color">Color:</label>
          <select name="color" id="color" onkeydown="IgnoreAlpha(event)">
            <option value="135" selected>Green</option>
            <option value="0">Red</option>
            <option value="210">Blue</option>
            <option value="270">Purple</option>
            <option value="350">Pink</option>
            <option value="33">Orange</option>
            <option value="60">Yellow</option>
            <option value="180">Cyan</option>
          </select>
        </div>
        <div class="ray-changer">
          <label for="saturation">Saturation:</label>
          <input
            type="range"
            id="saturation"
            name="saturation"
            value="50"
            min="0"
            max="100"
            step="10"
          />
          <label for="saturation" id="saturation-num"></label>
        </div>
        <div class="ray-changer">
          <label for="square">Square Size: </label>
          <input
            type="range"
            id="square"
            name="square"
            value="5"
            min="1"
            max="10"
            step="1"
          />
          <label for="square" id="square-num"></label>
        </div>
      </div>
    </div>

    <script src="https://joeiddon.github.io/perlin/perlin.js"></script>
    <script src="../scripts/texture-gen/sketch.js"></script>
  </body>
</html>
