<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/styles.css" />
    <link rel="icon" href="../public/images/favicon.ico" type="icon" />
    <title>Light</title>
  </head>
  <body>
    <a href="../index.html" class="button back">Home</a>
    <div>
      <div class="canvas-section">
        <canvas id="canvas">Not able to render canvas.</canvas>
      </div>
      <div class="selector-section">
        <div class="ray-selectors">
          <div class="ray-changer">
            <label for="rayColor">Ray Color:</label>
            <select name="rayColor" id="ray-color">
              <option value="white" selected>White</option>
              <option value="green">Green</option>
              <option value="red">Red</option>
              <option value="DodgerBlue">Blue</option>
              <option value="purple">Purple</option>
              <option value="violet">Violet</option>
              <option value="pink">Pink</option>
              <option value="darkorange">Orange</option>
              <option value="yellow">Yellow</option>
              <option value="cyan">Cyan</option>
            </select>
          </div>

          <div class="ray-changer">
            <label for="rayCount">Ray Count:</label>
            <input
              type="range"
              id="ray-count"
              name="rayCount"
              value="-0.1"
              min="-10.1"
              max="-0.1"
              step="1"
            />
          </div>

          <div class="ray-changer">
            <label for="">Ray Length: </label>
            <input
              type="range"
              id="ray-length"
              name="rayLength"
              value="1000"
              min="100"
              max="1000"
              step="100"
            />
          </div>
          <div class="ray-changer">
            <label for="rayStrength">Ray Strength: </label>
            <input
              type="range"
              id="ray-strength"
              name="rayStrength"
              value="0.7"
              min="0.1"
              max="0.7"
              step="0.1"
            />
          </div>
        </div>
      </div>
    </div>
    <script src="../scripts/raycaster/ray.js"></script>
    <script src="../scripts/raycaster/particle.js"></script>
    <script src="../scripts/raycaster/boundary.js"></script>
    <script src="../scripts/raycaster/sketch.js"></script>
  </body>
</html>
