<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/styles.css" />
    <link
      rel="shortcut icon"
      href="../public/images/favicon.ico"
      type="image/x-icon"
    />
    <title>Sand</title>
  </head>
  <body>
    <a href="../index.html" class="button back">Home</a>
    <div class="canvas-section">
      <canvas class="sand-canvas" id="canvas"
        >Not able to render canvas.</canvas
      >
    </div>
    <div class="sand-selectors">
      <div class="sand-changer">
        <label for="sandColor">Sand Color:</label>
        <select name="sandColor" id="sand-color">
          <option value="47" selected>Default</option>
          <option value="120">Green</option>
          <option value="5">Red</option>
          <option value="220">Blue</option>
          <option value="280">Purple</option>
          <option value="170">Cyan</option>
        </select>
      </div>
    </div>
    <script src="../scripts/sand/cursor.js"></script>
    <script src="../scripts/sand/sketch.js"></script>
  </body>
</html>
