<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/styles.css" />
    <title>Soft Spring</title>
  </head>
  <body>
    <div class="canvas-section">
      <canvas id="canvas">Not able to render canvas.</canvas>
    </div>
    
    <script src="../scripts/soft-spring/vector.js"></script> 
    <script src="../scripts/soft-spring/particle.js"></script>
    <script src="../scripts/soft-spring/spring.js"></script>
    <script src="../scripts/soft-spring/sketch.js"></script>
  </body>
</html>
