<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/styles.css" />
    <title>Soft Body Physics</title>
  </head>
  <body>
    <div class="canvas-section">
      <canvas id="canvas">Not able to render canvas.</canvas>
    </div>
    

    <script src="https://joeiddon.github.io/perlin/perlin.js"></script>
    <script src="../scripts/soft-body-physics/particle.js"></script>
    <script src="../scripts/soft-body-physics/sketch.js"></script>
  </body>
</html>
