body {
  background-color: rgb(20, 20, 20);
  color: #eeeeee;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

a {
  color: #eeeeee;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  margin-top: 50px;
  border: #3b7a4f 2px solid;
  touch-action: none;
}

label {
  font-weight: bolder;
}

button {
  cursor: pointer;
}

.challenge-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 120px;
}

.button {
  background-color: rgb(12, 12, 12);
  border: rgb(10, 185, 10) 2px solid;
  padding: 5px 10px;
  max-width: 250px;
  border-radius: 15px;
  text-align: center;
}

.disabled {
  opacity: 20%;
}

.back:hover {
  transition: 200ms;
  border-radius: 0;
}

.challenge-list .button {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 0px;
  margin-bottom: 75px;
}

.challenge-list a p {
  translate: 0 23px;
}

.button:hover {
  animation: hover-project 400ms forwards;
}

.canvas-section {
  display: flex;
  justify-content: center;
}

.canvas {
  outline: green 5px inset;
  border: black 10px solid;
}

.ray-changer,
.sand-selectors,
.selector-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.sand-selectors,
.selector-section {
  margin-top: 0;
}

.ray-selectors {
  background-color: #3b7a4f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  padding: 15px;
  padding-top: 0;
}

.sand-changer {
  background-color: #3b7a4f;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ray-changer {
  justify-content: left;
}

.game-section {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.game-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  margin-top: 50px;
  touch-action: manipulation;
}

.game-button {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 5px 2px 2px grey;
  touch-action: manipulation;
  visibility: hidden;
}

.up {
  grid-row: 1;
  grid-column: 2;
}
.left {
  grid-row: 2;
  grid-column: 1;
}
.right {
  grid-row: 2;
  grid-column: 3;
}
.down {
  grid-row: 3;
  grid-column: 2;
}
.b-button,
.a-button {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  touch-action: manipulation;
}
.b-button {
  grid-row: 2;
  grid-column: 5;
}
.a-button {
  grid-row: 1;
  grid-column: 6;
}

.sand-canvas {
  cursor: none;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grav-grid {
  display: grid;
  grid-template-columns: 30px 400px 30px;
  grid-template-rows: 30px 400px 30px;
  gap: 5px;
}

.gravity {
  background-color: #3b7a4f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.gravity:hover {
  opacity: 70%;
  cursor: pointer;
}

.g-canvas-container {
  grid-column: 2;
  grid-row: 2;
}

.g-canvas {
  margin: 0;
}

.g-up {
  grid-column: 2;
  grid-row: 1;
  height: 30px;
  width: 400px;
}

.g-left {
  grid-column: 1;
  grid-row: 2;
  height: 400px;
  width: 30px;
}
.g-right {
  grid-column: 3;
  grid-row: 2;
  height: 400px;
  width: 30px;
}
.g-down {
  grid-column: 2;
  grid-row: 3;
  height: 30px;
  width: 400px;
}
.g-selected {
  opacity: 50%;
}

/* ANIMATIONS */

@keyframes hover-project {
  50% {
    scale: 120%;
    border-radius: 0;
  }
  100% {
    scale: 100%;
    border-radius: 0;
    border-color: red;
  }
}

/* SLIDERS */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 150px;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: auto;
    color: #001aff;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 20px;
    cursor: ew-resize;
    background: white;
    box-shadow: -80px 0 0 80px #001aff;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #001aff;
}
input[type="range"]::-moz-range-track {
  background-color: black;
}
input[type="range"]::-moz-range-thumb {
  cursor: ew-resize;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #001aff;
}
input[type="range"]::-ms-fill-upper {
  background-color: black;
}
input[type="range"]::-ms-thumb {
  cursor: ew-resize;
}
